; see ksmbd.conf(5) for details

[global]
	; global parameters
	bind interfaces only = no
	deadtime = 0
	durable handles = no
	fruit copyfile = no
	fruit extensions = yes
	fruit model = Xserve
	fruit nfs aces = no
	fruit zero file id = yes
	guest account = nobody
	interfaces =
	ipc timeout = 0
	kerberos support = no
	max connections = 256
	max ip connections = 32
	max open files = 10000
	max worker threads = 4
	netbios name = KSMBD SERVER
	server max protocol = SMB3_11
	server min protocol = SMB2_10
	server multi channel support = no
	server signing = auto
	server string = SMB SERVER
	smb2 max credits = 8192
	smb2 max read = 4194304
	smb2 max trans = 1048576
	smb2 max write = 4194304
	smb3 encryption = auto
	tcp port = 445
	workgroup = WORKGROUP

[myshare]
	; share parameters
	browseable = yes
	comment = My Share
	continuous availability = no
	create mask = 0744
	crossmnt = yes
	directory mask = 0755
	follow symlinks = no
	force create mode = 0000
	force directory mode = 0000
	force group =
	force user =
	fruit finder info = yes
	fruit max access = yes
	fruit resource fork size = no
	fruit time machine = no
	fruit time machine max size = 0
	guest ok = no
	hide dot files = yes
	inherit owner = no
	max connections = 128
	oplocks = yes
	path = /tmp
	read only = no
	store dos attributes = yes
	valid users =
	veto files =
	writable =
